.font-blue{
    color: #06273E;
}

.aboutus-slider-back{
    background-image: url(https://yattiyrinvestments.co.ke/wp-content/uploads/2023/04/service-main-scaled.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus-slider-back a{
    text-decoration: none;
    color: white;
}

.nouveta{
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}